altgraph==0.17.4
archspec==0.2.5
astc-encoder-py==0.1.11
attrs==25.3.0
black==25.1.0
Brotli==1.1.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
CTkMenuBar==0.9
customtkinter==5.2.2
darkdetect==0.8.0
docopt==0.6.2
etcpak==0.9.15
fsspec==2025.7.0
idna==3.10
lz4==4.4.4
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
pipreqs==0.4.13
platformdirs==4.3.8
pyfmodex==0.7.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
requests==2.32.5
setuptools==80.9.0
texture2ddecoder==1.0.5
UnityPy==1.23.0
urllib3==2.5.0
yarg==0.1.10
